<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="jobSection"    type="MyConfiguration.JobSection, custom_config_01" />

    <section name ="MyStuff"      type ="MyConfiguration.XmlSerializerSectionHandler, custom_config_01"/>
    
    <section name="BlogSettings"  type="MyConfiguration.BlogSettings, custom_config_01" />

    <section name="serverSection"  type="MyConfiguration.ConnectionSection, custom_config_01" />

    <section name="customConfigSection"  type="MyConfiguration.CustomConfigSection, custom_config_01" />
  </configSections>


  <customConfigSection>
    <customElements>
      <customElement id="1" value1="zzzzz1" value2="zzzzz2" value3="zzzzz3" value4="zzzzz4" />
      <customElement id="2" value1="Azzzz1" value2="Azzzz2" value3="Azzzz3" value4="Azzzz4" />
      <customElement id="3" value1="Bzzzz1" value2="Bzzzz2" value3="Bzzzz3" value4="Bzzzz4" />
    </customElements>
  </customConfigSection>

  
  <jobSection>
    <jobs>
      <job id="1" name="Job Name A" />
      <job id="2" name="Job Name B" />
    </jobs>
  </jobSection>

  <serverSection>
    <Servers>
      <Element name="LocalServer" servername="192.168.1.1" userid="blank" password="blank" isactive="false" />
      <Element name="RemoteServer" servername="192.168.1.2" userid="blank" password="blank" isactive="true" />
    </Servers>
  </serverSection>
  
  
  <BlogSettings  frontPagePostCount="10"  title="You have Been Haacked" />
  
  
  
    
  <MyStuff type ="MyConfiguration.MyStuff, custom_config_01">
    <Foo>1.234</Foo>
    <Bar>A bunch of information</Bar>
  </MyStuff>
   
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  

</configuration>